html, body {
    overflow: hidden;
}

.cont {
    position: absolute;
    z-index: 1;
    left: 100px;
    height: 100vh;
    overflow: scroll;

}
.sidenav
{
    height: 100vh;
}


.scroll {

    overflow-y: scroll;
}
.text-center
{
    height: 200px;
}

.onlineList {
    height: 20px;
}
.cont1{
    position: absolute;
    z-index: 2;
    height: 100vh;
    width: 52vw;
    overflow-y: scroll;
}
.tosts
{
    position: relative;
    left: 8vw;
    z-index: 3;
}
.popUpMessage
{
    height: 200px;
}
.sendposttext
{
    width: 50vw;
    height: 50px;
}
.postitemsClass
{padding-bottom: 20px;}